.ForgotPassword {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #FFDD6C; /* Background color similar to your image */
  }
  
  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .mangoPic {
    width: 120px;
    height: 120px;
    border-radius: 50%;
  }
  
  .h1Message {
    font-size: 2em;
    text-align: center;
  }
  
  .resetBox {
    background-color: #FFDD6C;
    text-align: center;
  }
  
  .instructions {
    margin-bottom: 20px;
  }
  
  .inputStyles {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .message {
    color: red;
    margin-bottom: 10px;
  }
  
  .submitButton {
    background-color: #ff9933;
    color: black;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    margin-top: 10px;
  }
  
  .submitButton:hover {
    background-color: #ff7733;
  }
  
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .modalContent {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  }
  
  .checkIcon {
    width: 50px;
    height: 50px;
    margin-bottom: 20px;
  }
  
  .modalMessage {
    font-size: 1.2em;
    margin-bottom: 20px;
  }
  
  .confirmButton {
    background-color: #00aaff;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .confirmButton:hover {
    background-color: #0077cc;
  }
  